
.Nav {
  position: relative;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  text-align: center;
  word-wrap: break-word;
  
  background-color: transparent;
  color: white;
  
  height: 100vh;
  width: 300px;
  z-index: 0;
} 



.Nav-button-cover {
  pointer-events: all;
  
  position: inherit;
  z-index: 25;
  
  left: 0%;
  height: 100vh;
  width: 300px;
  
  background-color: #0a0a0a;
  border-radius: 0%;
  
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
} .Nav-button-cover.clicked {
  
  left: calc((300px - 30px) / -2);
  background-color: #ddd;
  transform: scale(0.1, 1);
}

.Nav-button-ctnr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  height: 100vh;
  width: 90%;
  padding: 15px;
  
  position: absolute;
  left: 30px;
  
  pointer-events: none;
  background-color: white;
}

.Nav-button {
  margin: 10px;
}
